<!DOCTYPE html>

<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    
</head>

<body>

    <div class="header-principal">
        <h2>Déterminez si le prix d'un bien immobilier sur leboncoin.fr est une bonne affaire.</h2>
    </div>

    <div class="main-userform">
        <p> <%= message %> </p> 
        <form class="form-inline" action="/result" method="GET">
            <div class="form-group">
                <input type="text" name="urlLBC" placeholder="URL Leboncoin"/>
            </div>
            <button type="submit" >Envoyer</button>
        </form>
    </div>

        

   
</body>

</html>