<!DOCTYPE html>

<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
    <p>Welcome to
        <%= message %>
    </p>
    <div class="main-userform">
        <div>
            <p>Enter the url of the real-estate ad</p>
            <input type="url" placeholder="url"/>
            <button type="submit">OK</button>
        </div>
    </div>
</body>

</html>