.header-principal{
    /*max-width: 100%;
    margin: 50px auto;
    padding: 20px;*/
height:200px;
background-color: lightslategrey;
margin-bottom:30px;
padding: 25px ;
}

.header-principal h1, .header-principal h2{
    color: white;
    text-align: center!important;
    font-family: 'Montserrat';
}